@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Anek+Latin:wght@100&display=swap");
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans SC", sans-serif;
}
.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.17);
  color: rgba(255, 255, 255, 0.9);
  .description {
    position: relative;
    right: -90%;
    top: -10%;
    transform-origin: 0 0;
    transform: rotate(270deg);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
  }
  .container {
    height: 77vh;
    margin: auto;
    padding: 30px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  .search {
    text-align: center;
    padding: 1rem;
  }
}
.app:before {
  content: "";
  background: url("Photo/3.avif") no-repeat center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
header {
  width: 100%;
  margin-left: 15px;
}
footer {
  margin-top: 93px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}
input {
  margin: 14px;
  text-align: center;
  padding: 11px 15px;
  font-size: 18px;
  border-radius: 25px;
  border: 1px solid rgba(95, 124, 140, 0.95);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(210,58,47,0.85)' width='45' height='17' class='bi' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 9px rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.85);
  font-family: "Anek Latin", sans-serif;
  outline: none;
}
::placeholder {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Anek Latin", sans-serif;
}
